<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="lines-view.html">
<link rel="import" href="fwk-styles.html">

<dom-module id="detail-view">
<template>
<style include="fwk-styles"></style>
<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

<style>
    :host { @apply(--layout-vertical); height:100%; width:100%; }
    :host .title { margin:10px 10px 5px 10px; color:var(--paper-indigo-a700); @apply(--paper-font-title2); }
    :host .itemgroup { margin:5px 10px; padding:0 5px; min-height:35px;
    	border:1px solid var(--paper-indigo-a100); @apply(--paper-font-label2);
    	border-radius:5px; -webkit-border-radius:5px;}
    :host .item {margin-right:10px;}
  	:host .btndd {float:right; margin:0 5px;}
	:host .error { clear:both; margin:10px; @apply(--paper-font-code1); font-weight:bold; color:red;}
    
    :host .panels { @apply(--layout-flex); top:-15px;}
    :host lines-view {height:100%; width:100%;}
    :host #documents {@apply(--layout-horizontal); height:100%; width:100%;}
    :host .ddpanel1 { @apply(--layout-vertical); height:100%; width:40%;}
    :host #ifr { @apply(--layout-flex); margin:5px; overflow-y:auto;
    	border:1px solid var(--paper-indigo-a200);}
    :host .source {margin:5px;}
    :host .mois {height:40%; margin:5px; overflow-y:auto; }
    :host .docs {@apply(--layout-flex); margin:5px; overflow-y:auto; }

    :host .label {margin: 0 10px; @apply(--paper-font-body2); display:inline-block;}
    :host .input {display:inline-block;}
    input[is=iron-input] { @apply(--input-std1); width:100px; margin-bottom:5px;}
    input[is=iron-input]:focus { @apply(--input-std1-focus); margin-bottom:4px; }
    
    :host .jour {padding:3px; margin:0 -3px; cursor:pointer;}
    :host .seljour, :host .jour:hover, :host .seldoc, :host .doc:hover 
    	{color:white; background-color:var(--paper-indigo-a700);}

    :host .doc {cursor:pointer;}
    
    :host .imois {margin:5px 0;}
    :host .libmois {float:left; margin:3px 10px 0 0; @apply(--paper-font-body2);
    	color:var(--paper-indigo-a700); line-height:14px;}
    :host .ljours { margin-left:20px; @apply(--paper-font-code1);}
    :host .docs {@apply(--paper-font-code1);}
    	
</style>
	<div style="margin:35px 0 10px 0">
	<paper-button on-tap="versdesktop" raised class="title">Retour à la synthèse des dumps</paper-button>
	<div class="title">Détail du dump [[type]] : [[dumpitem.dh]]</div>
	<div class="itemgroup">
		<paper-button on-tap="voirdonnees" class="btndd blue ripple" raised$="[[donnees]]">Données</paper-button>
		<paper-button on-tap="voirdocuments" class="btndd blue ripple" raised$="[[!donnees]]">Documents</paper-button>
		<div>
			<span class="item" hidden$="[[!filtre.url]]"><b>Url:</b>[[filtre.url]];</span>
			<span class="item" hidden$="[[!filtre.line]]"><b>Lignes:</b>[[filtre.line]];</span>
			<span class="item" hidden$="[[!filtre.col]]"><b>Colonnes:</b>[[filtre.col]];</span>
			<span class="item" hidden$="[[!filtre.types]]"><b>Types:</b>[[filtre.types]];</span>
			<span class="item" hidden$="[[!filtre.versionl]]"><b>Version:</b>[[filtre.version]];</span>
			<span class="item" hidden$="[[!filtre.versiond]]"><b>Version&nbsp;des&nbsp;documents:</b>[[filtre.versiond]];</span>
		</div>
		<div>[[lines.length]] lignes - [[docs.length]] documents</div>
	</div>
	</div>
	
	<neon-animated-pages class="panels" attr-for-selected="id" selected="[[viewname(donnees)]]" 
		entry-animation="slide-from-left-animation" exit-animation="slide-left-animation">
		<neon-animatable id="donnees">
			<lines-view error="{{error}}"></lines-view>
		</neon-animatable>
		<neon-animatable id="documents">
			<div class="ddpanel1">
				<div class="source">
					<div class="label">Source :</div>
					<div class="input"><input is="iron-input" 
						value="{{source::input}}" placeholder="C.2."></div>
				</div>
				<div class="mois">
					<template is="dom-repeat" items="[[lmois]]" as="mois">
						<div class="imois">
							<div class="libmois">[[mois.lib]]</div>
							<div class="ljours">
							<template is="dom-repeat" items="[[mois.ljours]]" as="jour">
								<span class$="[[jourClass(jour,selectedJour)]]" on-tap="selectJour">[[jour.jour]]</span>
							</template>
							</div>
						</div>
					</template>
				</div>
				<div class="docs">
					<template is="dom-repeat" items="[[ldocs]]" as="doc">
						<div class$="[[docClass(doc.d,selectedDoc.d)]]" on-tap="selectDoc">[[doc.d]]</div>
					</template>
				</div>
			</div>
			<iframe id="ifr"></iframe>
		</neon-animatable>
	</neon-animated-pages>
</template>
</dom-module>

<script>
'use strict';

Polymer({
	is : "detail-view",
	properties : {
		ptd: {type:Number, value:-1},
		ptdname: {type:String, value:""},
		dumpitem: {type:String, value:""},
		status: {type:Number, value:0},
		filtre: {type:Object, value:{}},
		path: {type:String, value:""},
		
		docs: {type:Array, value:[]},
		lines: {type:Array, value:[]},
		nbl: {type:Number, value:0},
		error: {type:String, value:""},
		
		source: {type:String, value:"", observer:"changeSource"},
		selectedMois: {type:String, value:""},
		selectedJour: {type:String, value:""},
		selectedDoc: {type:String, value:""},
		documents: {type:Array, value:[]},
		lmois: {type:Array, value:[]},
		ldocs: {type:Array, value:[]},
		donnees: {type:Boolean, value:true},
		
	},
	ready: function() {
		AC.detailview = this;
	},
	viewname : function(donnees){
		return donnees ? "donnees" : "documents";
	},
	voirdonnees : function() { 
		this.donnees = true;
		AC.linesview.display(this.path, this.lines);
	},
	voirdocuments : function() { 
		this.donnees = false;
		this.changeSource();
	},
	jourClass : function(jour, selectedJour){
		return jour.val == selectedJour ? "jour seljour" : "jour";
	},
	docClass : function(docd, selectedDocd){
		return docd == selectedDocd ? "doc seldoc" : "doc";
	},
	display : function(ptd){
		this.dumpitem = AC.desktop.currentdumpitem;
		this.ptd = this.dumpitem.ptd;
		this.type = ["Production", "Test", "Développement"][this.ptd];
		this.path = AC.desktop.mydp() + this.dumpitem.name;
		this.zips = {};
		this.docs = [];
		AC.fs.readFile(this.path + "/filtre.json", 'utf-8', (err, data) => {
			if (err)
				this.onError("Lecture impossible de " + this.path + " : " + err.message);
			else {
				try {
					this.filtre = JSON.parse(data);
				} catch (e) {
					this.onError("Erreur de syntaxe dans " + self.path + "/filtre.json  : " + err.message);
					return;
				}
				AC.fs.readFile(this.path + "/docs.json", 'utf-8', (err, data) => {
					if (err)
						this.onError("Lecture impossible de " + this.path + " : " + err.message);
					else {
						try {
							this.docs = JSON.parse(data);
						} catch (e) {
							this.onError("Erreur de syntaxe dans " + this.path + "/docs.json : " + err.message);	
						}
					}
					AC.fs.readFile(this.path + "/lignes.json", 'utf-8', (err, data) => {
						if (err)
							this.onError("Lecture impossible de " + this.path + "/lignes : " + err.message);
						else {
							try {
								this.lines = JSON.parse(data);
								this.initView();
							} catch (e) {
								this.onError("Erreur de syntaxe dans " + this.path + "/lignes.json. " + err.message);
								return;
							}
						}
					});
				});
			};
		});
	},
	versdesktop : function(e){
		AC.desktop.backtodesktop();
	},
	initView : function(){
		this.documents = [];
		for(let i = 0, d = null; d = this.docs[i]; i++){
			let j = d.lastIndexOf("-");
			j =  d.lastIndexOf("-", j - 1);
			const k = d.lastIndexOf("-", j - 1);
			const mois = d.substring(k + 1, k + 5);
			const jour = d.substring(k + 5, k + 7);
			j = d.lastIndexOf("_", k - 1);
			let orig = d.substring(0, j + 1);
			orig = orig.replace(/_/g, ".");
			this.documents.push({d:d, mois:mois, jour:jour, orig:orig, 
				libmois:"20" + mois.substring(0,2) + "-" + mois.substring(2)});
		}
		this.voirdonnees();
	},
	changeSource : function(newValue, oldValue){
		if (!this.documents) return;
		const amois = {};
		const lmois = [];
		for(let i = 0, d = null; d = this.documents[i]; i++){
			if (!d.orig.startsWith(this.source))
				continue;
			let m = amois[d.mois];
			if (!m){
				m = {mois:d.mois, lib:d.libmois, ljours:[], ajours:{} };
				amois[d.mois] = m;
				lmois.push(m);
			}
			let j = m.ajours[d.jour];
			if (!j){
				j = {jour:d.jour, val:d.mois + d.jour, docs:[] };
				m.ajours[d.jour] = j;
				m.ljours.push(j);				
			}
			j.docs.push(d);
		}
		if (lmois.length > 0) {
			lmois.sort((a,b) => a.mois < b.mois ? 1 : (a.mois > b.mois ? -1 : 0) );
			for(let i = 0, m = null; m = lmois[i]; i++) {
				m.ljours.sort((a,b) => a.jour < b.jour ? -1 : (a.jour > b.jour ? 1 : 0));
				for(let k = 0, j = null; j = m[k]; k++) {
					if (j.docs.length > 2)
						j.docs.sort();
				}
			}
			this.lmois = lmois;
			this.selectedMois = lmois[0].mois;
			this.selectedJour = lmois[0].ljours[0].val;
			this.ldocs = lmois[0].ljours[0].docs;
			this.selectedDoc = this.ldocs[0];
		} else {
			this.selectedMois = "";
			this.selectedJour = "";
			this.selectedDoc = "";
			this.lmois = [];
		}
		this.displayDoc();
	},
	selectJour : function(e){
		this.selectedJour = e.model.__data__.jour.val;
		this.selectedMois = this.selectedJour.substring(0,4);
		var jj = this.selectedJour.substring(4);
		let m = null;
		let j = null;
		this.ldocs = [];
		for(let i = 0, x = null; x = this.lmois[i]; i++)
			if (x.mois == this.selectedMois){
				m = x;
				for(let k = 0, y = null; y = m.ljours[k]; k++){
					if (y.jour == jj) {
						j = y;
						break;
					}
				}
				break;
			}
		this.ldocs = j ? j.docs : [];
		this.selectedDoc = j ? this.ldocs[0] : null;
		this.displayDoc();
	},
	selectDoc : function(e){
		this.selectedDoc = e.model.__data__.doc;
		this.displayDoc();
	},
	displayDoc : function(){
		const x = this.selectedDoc;
		if (!x) {
			this.$.ifr.document = null;
			return;
		}
		let fn = this.path + "/" + x.mois + "/" + x.d;
		AC.fs.readFile(fn, (err, data) => {
			if (err) {
				if (err.code == "ENOENT") {
					fn += ".gz";
					AC.fs.readFile(fn, (err, data) => {
						if (err) {
							this.onError("Lecture de " + fn + err.message);
						} else
							this.displayDoc2(data, true);
					});
				} else
					this.onError("Lecture de " + fn + err.message);
			} else
				this.displayDoc2(data, false);
		});
	},
	displayDoc2 : function(data, gz){
		if (gz)
			data = pako.inflate(data);
		const doc = this.$.ifr.contentWindow.document;
		doc.open();
		doc.write(AC.decoder.decode(data));
		doc.close();
	},
	onError : function(err){
		AC.error(err);
	}
	
});
</script>
