<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="fwk-styles.html">

<dom-module id="detail-view">
<template>
<style include="fwk-styles"></style>

<style>
    :host { background-color:white;}
</style>
	<h2>Détail</h2>
	<paper-button on-tap="versdesktop" class="blue ripple">Retour à la synthèse des dumps</paper-button>
</template>
</dom-module>

<script>

Polymer({
	is : "detail-view",
	properties : {
		ptd: {type:Number, value:-1}
	},
	ready: function() {
		AC.detailview = this;
	},
	versdesktop : function(e){
		AC.desktop.backtodesktop(this.ptd);
	}
});
</script>
