<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">

<link rel="import" href="fwk-styles.html">

<dom-module id="lines-view">
<template>
<style include="fwk-styles"></style>
<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

<style>
    :host { @apply(--layout-vertical); height:100%; width:100%;}
    
    :host .l1 {width:100%; height: 40px; overflow:hidden;}
    :host .l1a {margin:5px;}
    :host .l1b {float:right; width:50%; @apply(--paper-font-body2); line-height:20px;}
    :host .label {margin: 0 10px; @apply(--paper-font-body2); display:inline-block;}
    :host .input {display:inline-block;}
    :host .btngo { padding:2px; border:2px solid rgba(3, 169, 244, 0.23);}
    input[is=iron-input] { @apply(--input-std1); width:100px; margin-bottom:5px;}
    input[is=iron-input]:focus { @apply(--input-std1-focus); margin-bottom:4px; }

    iron-autogrow-textarea, textarea { @apply(--input-std2); width: 90%; margin:0 4%;
    	vertical-align:top; background-color:white;}
    iron-autogrow-textarea:focus, textarea:focus { @apply(--input-std2-focus); }
    :host textarea {overflow:auto; margin-top:2px; height:90px;}
    
    :host .line, :host .col, :host .rectype, :host .record, :host .field 
    	{padding:3px; cursor:pointer; height:20px; overflow:hidden;}
    :host .selline, :host .line:hover, :host .selcol, :host .col:hover, :host .selfield, :host .field:hover,
    :host .selrectype, :host .rectype:hover, :host .selrecord, :host .record:hover
    	{color:white; background-color:var(--paper-indigo-a700);}
    
    :host .l2 {width:100%; @apply(--layout-flex); flex-grow:2; @apply(--layout-horizontal); 
    	@apply(--paper-font-body1); 
    	border-top:2px solid var(--paper-blue-grey-100); border-bottom:2px solid var(--paper-blue-grey-100);}
    :host .l2a, :host .l2b, :host .l2c, :host .l3a, :host .l3b2 {padding:5px; overflow-y:auto;}
    :host .l2a {width:80px; border-right:2px solid var(--paper-blue-grey-100);}
    :host .l2b {@apply(--layout-flex); flex-grow:4; border-right:2px solid var(--paper-blue-grey-100);}
    :host .l2c {@apply(--layout-flex); flex-grow:2; }
    :host .colType {float:right; overflow:hidden; width: 50%;}
    
    :host .l3 {width:100%; @apply(--layout-flex); flex-grow:2; @apply(--layout-horizontal); @apply(--paper-font-body1);}
    :host .l4 {width:100%; @apply(--layout-flex); flex-grow:2; @apply(--paper-font-body1); 
    	padding:5px 0; overflow-y:auto;}
    :host .l3a {width:40%; border-right:2px solid var(--paper-blue-grey-100);}
    :host .photo {overflow:auto;}
    :host .l3b {@apply(--layout-flex); @apply(--layout-vertical);}
    :host .l3b1 {height:100px; margin:0; padding:0;}
    :host .l3b2 {@apply(--layout-flex); }
    :host .recordIndex { width:30px; text-align:right; height:18px; overflow:hidden; display:inline-block;}
    :host .fieldValue1 { height:18px; overflow:hidden; margin-left: 10px; display:inline-block;}
    :host .fieldName { width:30%; text-align:right; height:20px; overflow:hidden; display:inline-block; font-style:italic; font-weight:bold;}
    :host .fieldValue2 { height:20px; overflow:hidden; margin-left: 10px; width:65%; display:inline-block;}
    :host .fieldName2 { width:50%; text-align:right; height:20px; overflow:hidden; display:inline-block; font-style:italic; font-weight:bold;}
    :host .fieldValue3 { height:20px; overflow:hidden; margin-left: 10px; display:inline-block;}
    
</style>
	<div class="l1">
		<div class="l1b"><div id="vline"></div><div id="vcell"></div></div>
		<div class="l1a">
			<div class="label">Source :</div>
			<div class="input"><input is="iron-input" value="{{source::input}}" placeholder="C.2."></div>
			<paper-button on-tap="filterLines" class="btngo blue ripple">Go !</paper-button>
		</div>
	</div>
	
	<div class="l2">
		<div class="l2a">
			<template is="dom-repeat" items="[[clines]]" as="line">
				<div class$="[[lineClass(line,selLine)]]" on-tap="selectLine">[[line]]</div>
			</template>
		</div>
		<div class="l2b">
			<template is="dom-repeat" items="[[ccols]]" as="col">
				<div class$="[[colClass(col,selCol)]]" on-tap="selectCol">
					<div class="colType">[[col.type]]</div>[[col.col]] 
				</div>
			</template>
		</div>
		<div class="l2c">
			<template is="dom-repeat" items="[[crecordtypes]]" as="recordType">
				<div class$="[[recordTypeClass(recordType,selRecordType)]]" on-tap="selectRecordType">
					<div class="fieldName2">[[recordType.type]]</div>
					<div class="fieldValue3">[[recordType.count]]</div>
				</div>
			</template>
		</div>
	</div>	

	<template is="dom-if" if="[[isStd(selCol)]]" >
	<div class="l3">
		<div class="l3a">
			<template is="dom-if" if="[[!isPhoto(selCol)]]" >		
			<template is="dom-repeat" items="[[crecords]]" as="record">
				<div class$="[[recordClass(record,selRecord)]]" on-tap="selectRecord">
					<div class="recordIndex">[[record.__index]]</div>
					<div class="fieldValue1">[[editField(record,selField)]]</div>
				</div>
			</template>
			</template>
		</div>
		
		<div class="l3b">
			<div class="l3b1">
				<textarea class="html" value="[[cfieldvalue]]"></textarea>
			</div>
			<div class="l3b2">
				<template is="dom-repeat" items="[[cfields]]" as="field">
					<div class$="[[fieldClass(field,selField)]]" on-tap="selectField">
						<div class="fieldName">[[field]]</div>
						<div class="fieldValue2">[[editField(selRecord,field)]]</div>
					</div>
				</template>
			</div>
		</div>
	</div>
	</template>
	
	<template is="dom-if" if="[[isPhoto(selCol)]]" >
	<div class="l4">
		<img class="photo" src$="[[cfieldphoto]]"></img>
	</div>			
	</template>

	<template is="dom-if" if="[[isHtml(selCol)]]" >
	<div class="l4">
		<iron-autogrow-textarea class="html" value="[[cfieldhtml]]"></iron-autogrow-textarea>
	</div>			
	</template>
	
</template>
</dom-module>

<script>

Polymer({
	is : "lines-view",
	properties : {
		error : {type:String, value:""},
		path: {type:String, value:""},
		
		zips: {type:Object, value:{}},
		lines: {type:Array, value:[]},
		
		clines: {type:Array, value:[]},
		col: {type:Object, value:{}},
		ccols: {type:Array, value:[]},
		crecordtypes: {type:Array, value:[]},
		cfields: {type:Array, value:[]},
		crecords: {type:Array, value:[]},
		cfieldvalue: {type:String, value:""},
		
		selLine: {type:String, value:""},
		selCol: {type:Object, value:null},
		selRecordType: {type:Object, value:null},
		selRecord : {type:Object, value:null},
		selField: {type:String, value:""},
		
		source: {type:String, value:""},
	},
	ready: function() {
		AC.linesview = this;
	},
	display : function(path, zips, lines){
		this.path = path;
		this.zips = zips;
		this.lines = lines;
		this.filterLines();
	},
	onError : function(err){
		this.error = err;
	},
	isStd : function(selCol){
		return !selCol || (!selCol.type.startsWith("PHOTO") && !selCol.type.startsWith("HTML"));
	},
	isPhoto : function(selCol){
		return selCol ? selCol.type.startsWith("PHOTO") : false;
	},
	isHtml : function(selCol){
		return selCol ? selCol.type.startsWith("HTML") : false;
	},
	lineClass : function(line, selLine){
		return line == selLine ? "line selline" : "line";
	},
	colClass : function(col, selCol){
		return col == selCol ? "col selcol" : "col";
	},
	recordTypeClass : function(recordType, selRecordType){
		return recordType == selRecordType ? "rectype selrectype" : "rectype";
	},
	recordClass : function(record, selRecord){
		return record == selRecord ? "record selrecord" : "record";
	},
	fieldClass : function(field, selField){
		return field == selField ? "field selfield" : "field";
	},
	filterLines : function(newValue, oldValue){
		AC.info("Sélection des lignes");
		this.$.vline.innerHTML = "";
		this.$.vcell.innerHTML = "";
		this.clines = [];
		this.ccols = [];
		this.crecordtypes = [];
		this.crecords = [];
		this.cfields = [];
		this.selLine = "";
		this.selCol = null;
		this.selRecord = null;
		this.selRecordType = null;
		this.selField = "";
		this.cfieldvalue = "";
		this.cfieldhtml = "";
		this.cfieldphoto = "";
		
		if (this.lines) {
			var cl = [];
			for(var i = 0, l = null; l = this.lines[i]; i++){
				if (l.startsWith(this.source))
					cl.push(l);
			}
			cl.sort();
			this.clines = cl;
		}
		if (this.clines.length > 0)
			this.selLine = this.clines[0];
		this.selectLine2();
	},
	selectLine : function(e){
		this.selLine = e.model.__data__.line;
		this.selectLine2();
	},
	selectLine2 : function(){
		this.$.vline.innerHTML = "";
		this.$.vcell.innerHTML = "";
		this.ccols = [];
		this.crecordtypes = [];
		this.crecords = [];
		this.cfields = [];
		this.selCol = null;
		this.selRecord = null;
		this.selRecordType = null;
		this.selField = "";
		this.cfieldvalue = "";
		this.cfieldhtml = "";
		this.cfieldphoto = "";
		if (!this.selLine) return;
		this.selectLine3();
	},
	selectLine3 : function(){
		var x = this.zips[this.selLine];
		this.zipName = x;
		var i = x.lastIndexOf("_");
		this.$.vline.innerHTML = "Version ligne: " + AC.Util.editDHS(x.substring(i+1, i+18));
		var zipf = this.path + "/" + x;
		AC.info("Chargement de " + x);
		AC.fs.readFile(zipf, function(err, data) {
			if (err)
				AC.error("Chargement en erreur", zipf + " - " + err.message);
			else
				this.unzip(data, zipf);
		}.bind(this));
	},
	unzip : function(data, zipf){
        this.zip = new AC.jszip(data);
        var ccols = [];
        this.entries = [];
        for (var e in this.zip.files) this.entries.push(e);
        this.entries.sort();
        var tot = this.entries.length;
        for (var nb = 0, e = ""; e = this.entries[nb]; nb++) {
			var i = e.lastIndexOf("_");
			var col = e.substring(0, i);
			var j = e.lastIndexOf(".");
			var type = e.substring(i + 1, j);
			var ext = type != "HTML" ? e.substring(j + 1) : "html";
			var t = type == "PHOTO" ? type + "/" + ext : type;
			ccols.push({col:col, type:t , entry:e, ext:ext});
		};
		if (ccols.length > 1)
			ccols.sort(function(a,b){
				return a.col < b.col ? -1 : (a.col > b.col ? 1 : 0);
			});
		this.ccols = ccols;
		if (this.ccols.length > 0)
			this.selCol =  this.ccols[0];
		this.selectCol2();		
	},
	getData : function(sc){
		AC.info("Unzip de " + this.zipName, sc.entry);
		var buf = this.zip.file(sc.entry).asArrayBuffer();
		var data = new Uint8Array(buf);
		if (!sc.type.startsWith("PHOTO")){
			data = AC.decoder.decode(data);
			if (sc.type != "HTML"){
				try {
					data = JSON.parse(data);
				} catch(e){
	       			AC.error("Unzip de " + this.zipName + ". Syntaxe JSON", e.message);
					return;
				}
			}
		} else {
			var p = "data:image/" + sc.ext + ";base64,";
			var b64 = AC.Base64.encode(data);
			data = p + b64;
		}
		return data;
	},
	selectCol : function(e){
		this.selCol = e.model.__data__.col;
		this.selectCol2();
	},
	selectCol2 : function(){
		this.$.vcell.innerHTML = "";
		this.crecordtypes = [];
		this.crecords = [];
		this.cfields = [];
		this.selRecord = null;
		this.selRecordType = null;
		this.selField = "";
		this.cfieldvalue = "";
		this.cfieldhtml = "";
		this.selectCol3();
	},
	selectCol3 : function(){
		if (this.selCol && !this.selCol.data)
			this.selCol.data = this.getData(this.selCol);
		if (this.isHtml(this.selCol)){
			this.cfieldhtml = this.selCol.data;
			AC.info("OK : " + this.selCol.col + "/" + this.selCol.type);
			return;
		}
		if (!this.selCol || this.isPhoto(this.selCol)) {
			this.cfieldphoto = this.selCol.data;
			AC.info("OK : " + this.selCol.col + "/" + this.selCol.type);
			return;
		}
		AC.info("Analyse des items de " + this.selCol.col + "/" + this.selCol.type);
		var rt = [];
		for(var t in this.selCol.data) {
			var a = this.selCol.data[t];
			rt.push({type:t, count:!Array.isArray(a) ? 1 : a.length});
		}
		rt.sort(function(a,b){
			return a.type < b.type ? -1 : (a.type > b.type ? 1 : 0);
		});
		this.crecordtypes = rt;
		if (this.crecordtypes.length > 0)
			this.selRecordType =  this.crecordtypes[0];
		this.selectRecordType2();
	},
	selectRecordType : function(e){
		this.selRecordType = e.model.__data__.recordType;
		this.selectRecordType2();
	},
	selectRecordType2 : function(){
		this.$.vcell.innerHTML = "";
		this.crecords = [];
		this.cfields = [];
		this.selRecord = null;
		this.selField = "";
		if (!this.selRecordType) return;
		this.selectRecordType3();
	},
	selectRecordType3 : function(){	
		var fields = {};
		var crecords = [];
		var v = 0;
		for(var rt in this.selCol.data){
			var l = this.selCol.data[rt];
			if (!Array.isArray(l))
				l = [l];
			for(var i = 0, x = null; x = l[i]; i++){
				var vv = x.version;
				if (vv && vv > v)
					v = vv;
			}
		}
		AC.info("Calcul de la version de " + this.selCol.col + "/" + this.selCol.type);
		crecords = this.selCol.data[this.selRecordType.type];
		if (!Array.isArray(crecords))
			crecords = [crecords];
		for(var i = 0, r = null; r = crecords[i]; i++){
			r.__index = i;
			for(var f in r)
				if (f != "ZZ" && !fields[f])
					fields[f] = true;
		}
		var ff = []
		var x = AC.sorts[this.selCol.type];
		var keys = !x ? [] :( x[this.selRecordType.type] ? x[this.selRecordType.type] : []);
		AC.info("Recherche des champs de " + this.selCol.col + "/" + this.selCol.type);
		this.ckeys = {};
		for(var i = 0, k = null; k = keys[i]; i++){
			var name = "_" + k.join("_");
			this.ckeys[name] = k;
			ff.push(name);
		}
		for(var f in fields)
			ff.push(f);
		ff.sort();
		this.cfields = ff;
		this.selField = ff[1];
		if (v)
			this.$.vcell.innerHTML = "Version cell&nbsp;&nbsp;: " + new Date(v).stdFormat();
		if (crecords.length > 0)
			this.selRecord = crecords[0];
		this.sortRecords(crecords, null);
	},
	selectRecord : function(e){
		this.selRecord = e.model.__data__.record;
	},
	selectField : function(e){
		this.selField = e.model.__data__.field;
		var rx = [];
		for(var i = 0, r = null; r = this.crecords[i]; i++) rx.push(r);
		this.sortRecords(rx, this.selRecord);
	},
	sortRecords : function(crecords, selRecord){
		AC.info("Edition des records de " + this.selCol.col + "/" + 
				this.selCol.type + "/" + this.selField);
		if (crecords.length > 1) {
			for(var i = 0, r = null; r = crecords[i]; i++)
				r.ZZ = this.editField(r, this.selField);
			crecords.sort(function(a,b){
				return a.ZZ < b.ZZ ? -1 : (a.ZZ > b.ZZ ? 1 : 0);
			});
		}
		this.crecords = crecords;
		if (!selRecord)
			this.selRecord = crecords.length ? crecords[0] : null;
		var val = "";
		if (this.selField && !this.selField.startsWith("_") && this.selRecord) {
			var vx = this.selRecord[this.selField];
			if (typeof vx != "undefined")
				val = vx;
		}
		this.cfieldvalue = val;
		AC.info("OK : " + this.selCol.col + "/" + this.selCol.type + "/" + this.selField);
	},
	editField : function(r, f){
		if (!r || !f) return "";
		if (f.charAt(0) == "_") {
		var k = AC.linesview.ckeys ? AC.linesview.ckeys[f] : null;
			if (k) {
				var val = "";
				for(var i = 0, f2 = ""; f2 = k[i]; i++)
					val += AC.linesview.editField(r, f2) + " ";
				return val;
			}
		}
		var lg = AC.sorts.FieldSizes[f];
		var v = r[f];
		if (typeof v == 'undefined') 
			return lg == -2 ? "0" : "";
		if (!lg) 
			return v;
		if (lg == -1)
			return new Date(v).stdFormat() + " - " + v;
		var vx = "" + v;
		if (vx.length < lg)
			return "            ".substring(0, lg - vx.length) + vx;
		else
			return vx;
	}
	
});
</script>
